@{
    ViewData["Title"] = "Aktualiausi";
}
<div class="phone">
    <div class="row mb-3">
        <div class="col">
            <h1 class="center">Klientas | Jonas Jonaitis</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-6 col-md-4">
            <a class="btn btn-dark btn-block d-flex align-items-center justify-content-center"
            asp-area="" asp-controller="Apsilankymai" asp-action="Aktualiausi">Aktualiausi apsilankymai</a>
        </div>
        <div class="col-6 col-md-4">
            <a class="btn btn-outline-dark btn-block d-flex align-items-center justify-content-center"
               asp-area="" asp-controller="Patiekalas" asp-action="Index">Patiekalų Meniu</a>
        </div>
        <div class="col-6 col-md-4">
            <a class="btn btn-outline-dark btn-block d-flex align-items-center justify-content-center"
            asp-area="" asp-controller="Apsilankymai" asp-action="Praeje">Praėję apsilankymai</a>
        </div>
    </div>



    <div class="skiltiespavadinimas">
        <p class="center">Dabartinis apsilankymas</p>
    </div>

    <div class="row">
        <div class="col-12 col-md-8 offset-md-2">
            <button class="btn btn-outline-dark btn-block">Kurti dabartinį apsilankymą</button>
        </div>
    </div>
    <div class="skiltis p-3">
        <div>
            <p><strong>Kovo 3, Sekmadienis, 19:36</strong></p>
            <p><strong>Žmonių kiekis:</strong> 4</p>
            <p><strong>Staliuko Nr:</strong> 23</p>
            <p><strong>Užsakyti patiekalai:</strong></p>
            <p>Vištienos kepsnys su sūriu, 6.79€</p>
            <p>Braškinis pieno kokteilis, 4.99€</p>
            <div class="row">
                <div class="col-12 col-md-8 offset-md-2">
                    <button class="btn btn-outline-dark btn-block">Apmokėti sąskaitą</button>
                </div>
            </div>
        </div>
    </div>


    <div class="skiltiespavadinimas">
        <p class="center">Ateities rezervacijos</p>
    </div>

    <div class="row">
        <div class="col-12 col-md-8 offset-md-2">
            <a class="btn btn-outline-dark btn-block"
               asp-area="" asp-controller="Apsilankymai" asp-action="OpenVisitCreation">Kurti naują rezervaciją</a>
        </div>
    </div>


    @if (ViewData["FutureVisits"] != null)
    {
        foreach (var futureVisit in ViewData["FutureVisits"] as List<Visit>)
        {
            <div class="skiltis p-3">
                <div>
                    <p><strong>@futureVisit.data.ToString("MMM d, dddd, HH:mm")</strong></p>
                    <p><strong>Žmonių kiekis:</strong> @futureVisit.zmoniu_skaicius</p>
                    <p><strong>Staliuko Nr:</strong> @futureVisit.staliuko_nr</p>

                    <div class="row">
                        <div class="col-12 col-md-8 offset-md-2">
                            <button class="btn btn-outline-dark btn-block" onclick="location.href='@Url.Action("GetMeals", "Patiekalas", new { uzsakymoId = futureVisit.apsilankymo_id })'">Išsirinkti patiekalus (pateikti užsakymą)</button>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-12 col-md-8 offset-md-2">
                            <button class="btn btn-outline-dark btn-block">Atšaukti rezervaciją</button>
                        </div>
                    </div>
                </div>
            </div>
        }
    }

</div>