@{
    ViewData["Title"] = "Meniu";
}
<div class="phone">
    <div class="row mb-3">
        <div class="col">
            <h1 class="center">Klientas | Jonas Jonaitis</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-6 col-md-4">
            <a class="btn btn-outline-dark  btn-block d-flex align-items-center justify-content-center"
               asp-area="" asp-controller="Apsilankymai" asp-action="Aktualiausi">Aktualiausi apsilankymai</a>
        </div>
        <div class="col-6 col-md-4">
            <a class="btn btn-dark btn-block d-flex align-items-center justify-content-center"
               asp-area="" asp-controller="Apsilankymai" asp-action="Meniu">Patiekalų Meniu</a>
        </div>
        <div class="col-6 col-md-4">
            <a class="btn btn-outline-dark btn-block d-flex align-items-center justify-content-center"
               asp-area="" asp-controller="Apsilankymai" asp-action="Praeje">Praėję apsilankymai</a>
        </div>
    </div>

    <div class="skiltiespavadinimas">
        <p class="center">Restorano patiekalai</p>
    </div>

    <div class="skiltis p-3">
        <div>
            <p>Vištienos kepsnys su sūriu, 6.79€</p>
        </div>
    </div>

    <div class="skiltis p-3">
        <div>
            <p>Burokėlių sriuba, 3.99€</p>
        </div>
    </div>

    <div class="skiltis p-3">
        <div>
            <p>Braškinis pieno kokteilis, 4.99€</p>
        </div>
    </div>


</div>