@model Restoranas.Models.Visit
@{
    ViewData["Title"] = "Visit Creation Form";
}
<div class="phone">
    <div class="row mb-3">
        <div class="col">
            <h1 class="center">Klientas | Jonas Jonaitis</h1>
            <h2 class="center">Rezervuoti staliuką</h2>
        </div>

        @if (TempData["ErrorMessage"] != null)
        {
            <div class="alert alert-danger" role="alert">
                @TempData["ErrorMessage"]
            </div>
        }

        <form method="post" asp-action="CreateVisit" class="needs-validation" novalidate>
            <div class="form-group">
                <label asp-for="zmoniu_skaicius" class="control-label">Žmonių skaičius</label>
                <input asp-for="zmoniu_skaicius" class="form-control" required />
                <span asp-validation-for="zmoniu_skaicius" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="data" class="control-label">Rezervacijus Diena ir laikas</label>
                <input asp-for="data" class="form-control datetimepicker" required />
                <span asp-validation-for="data" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-outline-dark btn-block">Kurti rezervaciją</button>
        </form>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('.datetimepicker').datetimepicker({
            format: 'yyyy-mm-dd hh:ii',
            autoclose: true,
            minuteStep: 5
        });
    });
</script>
