@model int

<div class="phone">
    <div class="skiltiespavadinimas">
        <p class="center">Ištrynimo patvirtinimas</p>
    </div>

    <div class="row">
        <div class="col-12 col-md-8 offset-md-2">
            <p class="center">
                Ar tikrai norite ištrinti staliuką nr. @Model?
            </p>
            <form asp-action="DeleteTable" asp-route-id="@Model" method="post" class="text-center">
                <button type="submit" class="btn btn-outline-danger">Taip, ištrinti</button>
                <a href="@Url.Action("TablesPage", "Tables")" class="btn btn-outline-secondary">Atšaukti</a>
            </form>

        </div>
    </div>

    @if (TempData["ErrorMessage"] != null)
    {
        <div class="row">
            <div class="col-12 col-md-8 offset-md-2">
                <br>
                <div class="alert alert-danger">
                    @TempData["ErrorMessage"]
                </div>
            </div>
        </div>
    }
</div>
