@model Restoranas.Models.Patiekalas

<h2>Create New Product</h2>

@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.ErrorMessage
    </div>
}

<form asp-action="CreateProduct" method="post">
    <div class="form-group">
        <label asp-for="pavadinimas" class="control-label"></label>
        <input asp-for="pavadinimas" class="form-control" />
        <span asp-validation-for="pavadinimas" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="kaina" class="control-label"></label>
        <input asp-for="kaina" class="form-control" />
        <span asp-validation-for="kaina" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="parduodamas" class="control-label"></label>
        <select asp-for="parduodamas" class="form-control">
            <option value="True">True</option>
            <option value="False">False</option>
        </select>
        <span asp-validation-for="parduodamas" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
