@{
    ViewData["Title"] = "Pagrindinis puslapis";
}

<div class="text-center">
    <h1 class="display-4">Sveiki atvykę į restorano valdymo sistemą!</h1>
    <p>Čia skaniausi burgeriai ir šviežiausios salotos</a>.</p>
</div>
