@{
    ViewData["Title"] = "Pagrindinis puslapis";
}

<div class="phone">
    <div class="text-center">
        <h1 class="display-4">Sveiki atvykę į restorano valdymo sistemą!</h1>
        <p>Čia skaniausi burgeriai ir šviežiausios salotos</a>.</p>
    </div>

    <br />
    <p class="center">Aš esu:</p>
    <div class="row">
        <div class="col-6 col-md-4">
            <a class="mygtukas btn btn-outline-dark btn-block d-flex align-items-center justify-content-center"
            asp-area="" asp-controller="Apsilankymai" asp-action="Aktualiausi">Klientas</a>
        </div>
        <div class="col-6 col-md-4">
            <a class="mygtukas btn btn-outline-dark btn-block d-flex align-items-center justify-content-center"
            asp-area="" asp-controller="Apsilankymai" asp-action="Aktualiausi">Salės darbuotojas</a>
        </div>
        <div class="col-6 col-md-4">
            <a class="mygtukas btn btn-outline-dark btn-block d-flex align-items-center justify-content-center"
            asp-area="" asp-controller="Apsilankymai" asp-action="Aktualiausi">Vadovas</a>
        </div>
    </div>

</div>