@{
    ViewData["Title"] = "Atšaukimo patvirtinimas";
}

<h2>Ar tikrai norite atšaukti vizitą?</h2>

<form method="post" action="@Url.Action("CancelVisit", "Waiter", new { id = ViewBag.VisitId })">
    <button type="submit">Taip, atšaukti</button>
</form>
