@{
    ViewData["Title"] = "Pagrindinis Puslapis Padavėjo";
}

<div class="container mt-5">
    <div class="text-center">
        <h1 class="display-4">Sveiki atvykę, padavėjau!</h1>
        <p>Čia galite peržiūrėti apsilankymų informaciją.</p>
    </div>

    <div class="form-group text-center">
        <a class="mygtukas btn btn-outline-dark" href="@Url.Action("VisitsPageWaiter", "Waiter")">Peržiūrėti apsilankymus</a>
    </div>
</div>
